/* navbar */
#nav-link {
    text-decoration: none;
}

#nav-link:hover {
    color: black;
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.filecase-forms {
    display: flex;
    border-radius: 10px;
    border: #0000;
    margin: 20px 50px 0px 50px;
}

.btn-outline-success:hover {
    background-color: #d3d3d3; /* Light gray background */
}

.btn-outline-danger:hover {
    background-color: #d3d3d3; /* Light gray background */
}

.dataTables_wrapper .dataTables_length select {
    padding-right: 20px; /* Adjust the padding to fit the dropdown icon */
    background-position: right 3px center; /* Position the icon */
}